body{
    background-color: lightslategray;
}
.eu{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 50%;
}
h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw; /* ou qualquer outro valor em vw que você preferir */
}
.github{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 16%;
    width: 65vw;
    height: 13.5vw;
    border-radius: 50px;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.social-icons img {
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    margin: 0 5px;
}
